/* arch/arm/boot/dts/bcm2711-rpi-4-b.dts */

&i2c1 {
	pcf8574@50 {
		compatible = "BiscuitOS,pcf8574";
		reg = <0x38>;
		interrupts-parent = <&gpio>;
		interrupts = <&gpio 58 IRQ_TYPE_LEVEL_HIGH>;
	};
};
